
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    display: grid;
  }
  
  html{
    scroll-behavior: smooth;
  }

  img {
    width: 100%;
    height: auto;
  }

  .header {
    background-image: url('/images/mobile/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 538px;
    width: 100vw;

    &__nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
    }
    &-arrow {
      max-width: 36px;
    }
  }



  
  .graphic-design {
    background-image: url('/images/mobile/image-graphic-design.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 538px;
    width: 100vw;
  }

  .photography {
    background-image: url('/images/mobile/image-photography.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 538px;
    width: 100vw;
  }

  .img-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "top-left top-right"
      "bottom-left bottom-right"; 
  }
  .top-left {
    grid-area: top-left;
  }
  
  .top-right { 
    grid-area: top-right;
  }
  .bottom-left { 
    grid-area: bottom-left;
  }
  .bottom-right {
    grid-area: bottom-right;
  }